@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
@import url("https://fonts.googleapis.com/css?family=Patua+One&display=swap");
body {
  width: auto;
  height: 80vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .left {
  border-bottom-left-radius: 20px;
  background: #e7e5e4;
  font-family: 'Indie Flower', cursive;
  font-family: 'Grenze', serif;
  font-size: 60px;
}

.wrapper .left ul {
  list-style: none;
}

.wrapper .left ul a {
  text-decoration: none;
  color: white;
}

.wrapper .left ul li {
  background: -webkit-gradient(linear, left top, left bottom, from(#cedce7), to(#596a72));
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%);
  border: 2px solid black;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.wrapper .left ul li li a :hover {
  color: white;
}

.wrapper .left ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#CECECE), color-stop(50%, #103E5C), to(#000000));
  background: linear-gradient(to bottom, #CECECE 0%, #103E5C 50%, #000000 100%);
  -webkit-box-shadow: 0px 0px 21px 0px #000000;
          box-shadow: 0px 0px 21px 0px #000000;
}

.wrapper .left ul li a:hover {
  color: white;
}

.wrapper .right {
  background: -webkit-gradient(linear, left top, left bottom, from(#cedce7), to(#596a72));
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%);
  border-top-right-radius: 20px;
}

.wrapper .header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  font-family: 'Patua One', cursive;
  font-size: 20px;
  color: #2c2c2c;
}

.wrapper .header .contact p {
  border-bottom: 2px solid rgba(0, 0, 0, 0.356);
}

.wrapper .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .logo h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#CECECE), color-stop(50%, #103E5C), to(#000000));
  background: linear-gradient(to bottom, #CECECE 0%, #103E5C 50%, #000000 100%);
  -webkit-box-shadow: 0px 0px 21px 0px #000000;
          box-shadow: 0px 0px 21px 0px #000000;
}

.wrapper .header .logo a {
  text-decoration: none;
}

.wrapper .header .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Indie Flower', cursive;
}

.wrapper .header .slogan .topRightImage {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
}

.wrapper .header .slogan p {
  border-bottom: 2px solid rgba(0, 0, 0, 0.356);
}

.wrapper .header h1 {
  border-bottom: 2px solid #CCCCCC;
  -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 13px;
  color: #444444;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#cedce7), to(#596a72));
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%);
  border-left: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
  font-family: 'Indie Flower', cursive;
  color: #CCCCCC;
  color: #FFFFFF;
  text-shadow: 4px 3px 0 #7A7A7A;
}

.wrapper .header h2 {
  border-top: 2px solid #CCCCCC;
  color: #CCCCCC;
  font-family: 'Indie Flower', cursive;
  -webkit-box-shadow: 1px 17px 30px -2px #000000;
          box-shadow: 1px 17px 30px -2px #000000;
  border-radius: 20px;
  padding: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cedce7), to(#596a72));
  background: linear-gradient(to bottom, #cedce7 0%, #596a72 100%);
  text-align: center;
  border-right: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
  color: #FFFFFF;
  text-shadow: 4px 3px 0 #7A7A7A;
}

.wrapper .mainContent {
  border-top: 4px dashed #706060;
  font-family: 'Patua One', cursive;
}

.wrapper .mainContent .ul {
  list-style-type: none;
}

.wrapper html {
  background: black;
}

@media only screen and (min-width: 299px) {
  body {
    width: auto;
  }
  html {
    width: auto;
    background-color: black;
  }
  .topRightImage {
    display: none;
  }
  .contact p {
    display: none;
  }
  .mainContent .locationPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainContent .location {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
  }
  .mainContent h1 {
    font-size: 20px;
    text-align: center;
  }
  .mainContent p {
    margin: 10px 10px 10px 10px;
  }
  .left {
    width: 20%;
    margin-bottom: 10px;
    border-top: 4px dashed #706060;
  }
  .left .ulWrap .ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .left .ulWrap .ul .li {
    width: 100px;
    font-size: 20px;
    width: 150px;
  }
  .header h1 {
    margin: 15px 0 0 0;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .right {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto;
  }
  .left {
    width: auto;
    border-bottom-right-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left .ul {
    padding-left: 0px;
  }
  .left .li {
    width: 300px;
    margin: 10px;
  }
}

@media only screen and (min-width: 576px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  body {
    margin: 0;
    width: auto;
  }
  .ulWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left {
    width: auto;
    border-top-left-radius: 20px;
    border-top: none;
    border-right: 4px dashed #706060;
    border-bottom-right-radius: 0px;
  }
  .left .ul {
    height: 350px;
    margin: 30px;
  }
  .left .li {
    width: 100px;
  }
  .right {
    height: auto;
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
  }
  .topRightImage {
    display: none;
  }
  .contact p {
    display: none;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
  .header h1 {
    margin-top: 15px;
  }
  .header h2 {
    width: 200px;
  }
  .header a {
    height: 90px;
  }
  .mainContent .location {
    width: 300px;
  }
  .left li a {
    font-size: 15px;
  }
  .left li {
    width: 100px;
    margin: 20px;
    margin-left: -10px;
  }
  .left {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  .left {
    width: 25%;
  }
  .left .ulWrap .ul .li {
    width: 150px;
    font-size: 20px;
  }
  .header {
    padding-bottom: 30px;
  }
  .header .ul .li {
    margin-left: 10px;
  }
  .header h2 {
    width: 200px;
  }
  .header a {
    height: 90px;
  }
  .left li {
    width: 200px;
  }
  .mainContent {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainContent .location {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .topRightImage {
    display: block;
  }
  .contact p {
    display: block;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact {
    width: 150px;
    font-size: 2px;
  }
  .topRightImage {
    margin-top: 20px;
  }
  .left {
    width: 20%;
  }
  .left .li {
    width: 150px;
  }
  .right {
    width: 70%;
  }
  .mainContent .flexMe {
    width: 100%;
  }
  .mainContent h1 {
    font-size: 30px;
  }
  .mainWrapperList li {
    margin: 5px;
  }
}
/*# sourceMappingURL=contactgegevens.css.map */