@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

body{
    width: auto;
    height: 80vh;
    
 }
.wrapper{
    display: flex;

    .left{
        // border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: #e7e5e4;
        // border-right: 4px dashed rgb(112, 96, 96);
        font-family: 'Indie Flower', cursive;
        font-family: 'Grenze', serif;
        font-size: 60px;
        
    ul{
        list-style: none;
    a{
            text-decoration: none;
            color: white;
        }
    li{
            background: linear-gradient(to bottom, rgb(206,220,231) 0%,rgb(89,106,114) 100%);
            border: 2px solid rgb(0, 0, 0);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            color: white;
            
            li a :hover{
                color: white;
                
            }
        }
    li:hover{
            transform: scale(1.2);
            background-color: rgb(0, 0, 0);
            background: linear-gradient(to bottom, #CECECE 0%, #103E5C 50%, #000000 100%);
            box-shadow: 0px 0px 21px 0px #000000;
        }
    li a:hover{
            color: white;
        }
    }
    }
    .right{

    background: linear-gradient(to bottom, rgb(206,220,231) 0%,rgb(89,106,114) 100%);
    border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
        
        }
    .header{
        .contact{
            display: flex;
            flex-flow: column;
            flex-direction: column-reverse;
            font-family: 'Patua One', cursive;
            font-size: 20px;
            color: rgb(44, 44, 44);
            p{
                border-bottom: 2px solid rgba(0, 0, 0, 0.356);
            }
        }
        .logo{
            display: flex;
            flex-flow: column;
            align-items: center;
            h1:hover{
            transform: scale(1.1);
            background-color: rgb(0, 0, 0);
            background: linear-gradient(to bottom, #CECECE 0%, #103E5C 50%, #000000 100%);
            box-shadow: 0px 0px 21px 0px #000000;
            }
            a{
                text-decoration: none;
                
            }
            
        }
        .slogan{
            display: flex;
            justify-content: flex-end;
            font-family: 'Indie Flower', cursive;

            .topRightImage{
            height: 150px;
            width: 150px;
            border-radius: 20px;
            border: 1px solid black;
            box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
                }
            p{
                border-bottom: 2px solid rgba(0, 0, 0, 0.356);
            }
        }
            h1{
            border-bottom: 2px solid#CCCCCC;
            box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.75);
            border-radius: 20px;
            padding: 13px;
            color: #444444;
            text-align: center;
            background: linear-gradient(to bottom, rgb(206,220,231) 0%,rgb(89,106,114) 100%);
            border-left: 2px solid#CCCCCC;
            border-right: 2px solid#CCCCCC;
            font-family: 'Indie Flower', cursive;
            color: #CCCCCC;
            color: #FFFFFF;

            text-shadow: 4px 3px 0 #7A7A7A;
        }
            h2{
                
            border-top: 2px solid#CCCCCC;
            color: #CCCCCC;
            font-family: 'Indie Flower', cursive;
            box-shadow: 1px 17px 30px -2px #000000;
            border-radius: 20px;
            padding: 13px;
            background: linear-gradient(to bottom, rgb(206,220,231) 0%,rgb(89,106,114) 100%);
            text-align: center;
            border-right: 2px solid#CCCCCC;
            border-left: 2px solid #CCCCCC;
            color: #FFFFFF;

text-shadow: 4px 3px 0 #7A7A7A;
            }
    }
.mainContent{
        border-top: 4px dashed rgb(112, 96, 96);
        font-family: 'Patua One', cursive;

        .flexMe{
            display: flex;
            justify-content: space-evenly;
          
        }
        .messing, .tomback,.brons, .alubrons, .aluminium, .zamak, .zink {
            width: 30px;
            height: 30px;
            border-radius: 100%;

        }
        .lood{
            width: 30px;
            height: 30px;
            border-radius: 100%;

        }
        .messing:hover, .tomback:hover,.brons:hover, .alubrons:hover, .aluminium:hover, .zamak:hover, .zink:hover, .lood:hover{
            transform: scale(3);
        }
        
        .materialImgages{
            display: flex;
            flex-flow: column;
            
        }
        



        .picWrap{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        }
        .one , .two{
            width: 400px;
            border-radius: 20px;

            
        }
        .one:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 15px 5px #000000;
        }
        .two:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 15px 5px #000000;
        }


        li{
            font-size: 20px;
        }
    }

}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////*MediaQ*//////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width: 299px){
    body{
        width: auto;
    }
    html{
        width: auto;
        background-color: black;
    }
    .topRightImage{
        display: none;
    }
    .contact p {
        display: none;
    }
    .mainContent{
        
        h1{
            text-align: center;
        }

        p{
            text-align: center;
        }
        .materialImgages{
            margin: 10px;
        }
    }
    .left{
        width: 20%;
        margin-bottom: 10px;
        border-top: 4px dashed rgb(112, 96, 96);
        .ulWrap{
            .ul{
                display: flex;
                justify-content: center;
                flex-flow: column;
                .li{
                    width: 100px;
                    font-size: 20px;
                    width: 150px;
                }
            }
        }
    }
    .header{
        h1{
            margin: 15px 0 0 0;;
        }
    }

    .wrapper{
        display: flex;
        flex-flow: column-reverse;
    }

    .right{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: auto;
    }

    .left{
        width: auto;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        .ul{
            padding-left: 0px;
        }

        .li{
            width: 300px;
            margin: 10px;
        }
    }

    

}

@media only screen and (min-width: 576px){
    .wrapper{
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 10px;
    }
    
    body{
        margin: 0;
        width: auto;
        width: auto;
    }
    .ulWrap{
        display: flex;
        justify-content: center;
    }
    .left{
        width: auto;
        border-top-left-radius: 20px;
        border-top: none;
        border-right: 4px dashed rgb(112, 96, 96);
        border-bottom-right-radius: 0px;
        .ul{
            height: 350px;
        }

        .li{
            width: 100px;
        }
    }
    .right{
        height: auto;
        margin-bottom: 10px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 20px;
    }
    .topRightImage{
        display: none;
    }
    .contact p {
        display: none;
    }
    .header{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        
        h1{
            margin-top: 15px;
        }
        h2{
            width: 200px;
        }
        a{
            height: 90px;
        }
    }
    .mainContent{
        display: flex;
        flex-flow: column;
        align-items: center;

        
}
.left li a {
    font-size: 15px;
}
.left li{
    width: 100px;
    margin: 20px;
    margin-left: -10px;
}
    .footer h4{
        display: none;
    }
}
@media only screen and (min-width: 768px){
   body{
       width: 100%;
   }
   .wrapper{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.left{
    width: 25%;
    
}
.left .ulWrap .ul .li {
    width: 150px;
    font-size: 20px;
}

   .header{
    padding-bottom: 30px;
    
    
    .ul{
        .li{
            margin-left: 10px;
        }
    }
    h2{
        width: 200px;
    }
    a{
        height: 90px;
    }

}
.left li{
    width: 200px;
}
.mainContent{
    height: auto;
    display: flex;

    p{
        margin: 15px;
    }

    li{
        margin: 5px;
    }
}

}

@media only screen and (min-width: 992px){
    .topRightImage{
        display: block;
    }
    .contact p {
        display: block;
    }
    .header{
        display: flex;
        justify-content: space-around;
    }
    .contact{
        width: 150px;
        font-size: 2px;
    }
    .topRightImage{
        margin-top: 20px;
    }
    .left{
        width: 20%;
        .li{
            width: 150px;
        }
    }
    .right{
        width: 70%;
    }

    .mainContent{
        .flexMe{
            width: 100%;
            
        }
    }

    .mainWrapperList{
        li{
            margin: 5px;
        }
    }
}
@media only screen and (min-width: 1200px){
    
}
@media only screen and (min-width: 1600px){
    
}